---
layout: default
---

<div class="home">
  {% if site.posts.size > 0 %}
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts found. Add some posts to the `_posts` directory to get started.</p>
  {% endif %}
</div>